extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug

block main
  +alert-success(5000)

  .product-page
    h1.product-page-title Danh sách sản phẩm

    // Bộ lọc và Tìm kiếm
    .card.mb-3.product-filter-card
      .card-header.product-card-header
        | Bộ lọc và Tìm kiếm
      .card-body.product-card-body
        .row.product-toolbar
          .col-6.product-filter-column
            +filter-status(filterStatus)
          .col-6.product-search-column
            +search(keyword)

    // Bảng danh sách sản phẩm
    .card.mb-3.product-table-card
      .card-body.product-table-card-body
        .row
          .col-8
            // Form thay đổi nhiều
            +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
          .col-4
            a(
              href=`${prefixAdmin}/products/create`
              class="btn btn-outline-success"
            ) + Thêm mới
        
      .table-responsive.product-table-responsive
        table.table.table-hover.table-sm.product-table(checkbox-multi)
          thead.product-table-head
            tr.product-table-head-row
              th.product-table-head-cell
                input(type="checkbox" name="checkall")
              th.product-table-head-cell STT
              th.product-table-head-cell Hình ảnh
              th.product-table-head-cell Tiêu đề
              th.product-table-head-cell Giá
              th.product-table-head-cell Vị trí
              th.product-table-head-cell Trạng thái
              th.product-table-head-cell Hành động

          tbody.product-table-body
            each item, index in products
              tr.product-table-row
                td.text-center.align-middle.product-table-cell
                  input(type="checkbox" name="id" value=item.id)

                td.text-center.align-middle.product-table-cell #{index + 1}

                td.align-middle.product-table-cell
                  .inner-image-table
                    img(
                      src=item.thumbnail
                      alt=item.title
                      width="100"
                      height="auto"
                      class="img-thumbnail inner-image"
                    )

                td.align-middle.product-table-cell
                  .inner-title-table #{item.title}

                td.align-middle.product-table-cell
                  span.inner-price-table #{item.price}$

                td.align-middle.product-table-cell
                  input(
                    type="number"
                    min="1"
                    name="position"
                    value=item.position
                    class="form-control input-position text-center"
                  ) 

                td.align-middle.text-center.product-table-cell
                  if item.status == "active"
                    a(
                      href="javascript:;"
                      class="badge badge-success custom-badge product-status-badge"
                      button-change-status
                      data-status=item.status
                      data-id=item.id
                    ) Hoạt động
                  else
                    a(
                      href="javascript:;"
                      class="badge badge-danger custom-badge product-status-badge"
                      button-change-status
                      data-status=item.status
                      data-id=item.id
                    ) Dừng hoạt động

                td.align-middle.text-center.product-table-cell
                  .inner-action-buttons
                    button(
                      class="btn btn-warning btn-sm btn-edit product-action-button"
                    ) Sửa
                    button(
                      class="btn btn-danger btn-sm btn-delete product-action-button"
                      button-delete
                      data-id=item.id
                    ) Xóa 

    +pagination(pagination)

    // Form đổi trạng thái
    form(
      action=""
      method="POST"
      id="form-change-status"
      data-path=`${prefixAdmin}/products/change-status`
    )


    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/products/delete`
    )

    script(src="/admin/js/product.js")