.sider
  .inner-menu
    ul.inner-menu-list
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/dashboard`) Tổng quan
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/products`) Sản phẩm  
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/product-category`) Danh mục
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/roles`) Nhom quyen 
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/roles/permissions`) Phan quyen 
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/accounts`) Tài khoản
  