.sider
  .inner-menu
    ul.inner-menu-list
      li.inner-menu-item
        a.inner-menu-link(href= `${prefixAdmin}/dashboard`) Tổng quan
      if(role.permissions.includes("products_view"))
        li.inner-menu-item
          a.inner-menu-link(href= `${prefixAdmin}/products`) Sản phẩm  
      if(role.permissions.includes("products-category_view"))
        li.inner-menu-item
          a.inner-menu-link(href= `${prefixAdmin}/product-category`) Danh mục
      if(role.permissions.includes("roles_view"))
        li.inner-menu-item
          a.inner-menu-link(href= `${prefixAdmin}/roles`) Nhom quyen 
      if(role.permissions.includes("roles_permissions"))
        li.inner-menu-item
          a.inner-menu-link(href= `${prefixAdmin}/roles/permissions`) Phan quyen 
      if(role.permissions.includes("accounts_view"))
        li.inner-menu-item
          a.inner-menu-link(href= `${prefixAdmin}/accounts`) Tài khoản
  
